  <!-- Page footer -->
  <footer class="footer bg-dark pb-4" data-bs-theme="dark">
    <div class="container pb-md-3">

      <!-- Features -->
      <div class="border-bottom py-5">
        <div class="row row-cols-2 row-cols-md-4 g-4 gx-sm-5 py-sm-1 py-md-2 py-lg-3 mb-n2 mb-md-0">
          <div class="col mb-2 mb-md-0">
            <i class="ci-layers-2 fs-xl text-dark-emphasis mb-3"></i>
            <h6 class="pb-2 mb-1">Regularly updated content</h6>
            <p class="fs-sm text-body mb-0"></p>
          </div>
          <div class="col mb-2 mb-md-0">
            <i class="ci-click fs-xl text-dark-emphasis mb-3"></i>
            <h6 class="pb-2 mb-1">Easy access</h6>
            <p class="fs-sm text-body mb-0"></p>
          </div>
          <div class="col mb-2 mb-md-0">
            <i class="ci-grid-2 fs-xl text-dark-emphasis mb-3"></i>
            <h6 class="pb-2 mb-1">Exclusive collections</h6>
            <p class="fs-sm text-body mb-0">
            </p>
          </div>
          <div class="col mb-2 mb-md-0">
            <i class="ci-check-search fs-xl text-dark-emphasis mb-3"></i>
            <h6 class="pb-2 mb-1">User-friendly search </h6>
            <p class="fs-sm text-body mb-0"></p>
          </div>
        </div>
      </div>

      <!-- Subscription + Links -->


      <!-- Copyright -->
      <p class="fs-xs text-body text-center text-lg-start mb-0">
        © All rights reserved. Made with <i class="ci-heart-filled align-middle"></i> in <span
          class="animate-underline"><a class="animate-target text-white text-decoration-none"
            href="/" target="_blank" rel="noreferrer">Mumbai</a></span>
      </p>
    </div>
  </footer>


  <!-- Back to top button -->
  <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
    <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
      Top
      <i class="ci-arrow-right fs-base ms-1 me-n1 animate-target"></i>
      <span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
      <svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5"
          stroke-miterlimit="10"></rect>
      </svg>
    </a>

  </div>


  <!-- Vendor scripts -->
  <script src="https://cartzilla-html.createx.studio/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://cartzilla-html.createx.studio/assets/vendor/choices.js/choices.min.js"></script>

  <!-- Bootstrap + Theme scripts -->
  <script src="https://cartzilla-html.createx.studio/assets/js/theme.min.js"></script>


</body>

</html>