{% include "includes/header.html" %}
	<main class="content-wrapper">
		<div class="container">
  
		  <!-- Breadcrumb -->
		  <nav class="position-relative pt-3 mt-3 mt-md-4 mb-4" aria-label="breadcrumb">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="home-furniture.html">Home</a></li>
			  <li class="breadcrumb-item"><a href="shop-catalog-furniture.html">Shop</a></li>
			  <li class="breadcrumb-item active" aria-current="page">Product page</li>
			</ol>
		  </nav>
  
  
		  <!-- Product gallery and details -->
		  <section class="row pb-4 pb-md-5 mb-2 mb-md-0 mb-xl-3">
  
			<!-- Gallery -->
			<div class="col-md-7 col-xl-8 pb-4 pb-md-0 mb-2 mb-sm-3 mb-md-0">
			  <div class="row row-cols-2 g-3 g-sm-4 g-md-3 g-lg-4">
				{% for img in data['other_img'] %}
				<div class="col">
					<a class="hover-effect-scale hover-effect-opacity position-relative d-flex rounded-4 overflow-hidden" href="assets/img/shop/furniture/product/01.png" data-glightbox="" data-gallery="product-gallery">
					  <i class="ci-zoom-in hover-effect-target fs-3 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"></i>
					  <div class="ratio ratio-1x1 hover-effect-target">
						<img src="{{img}}" alt="Image">
					  </div>
					</a>
				  </div>
				{%endfor%}
				
				
				
				
				
			  </div>
			</div>
  
  
			<!-- Product details and options -->
			<div class="col-md-5 col-xl-4">
			  <div class="d-none d-md-block" style="margin-top: -90px"></div>
			  <div class="sticky-md-top ps-md-2 ps-xl-4">
				<div class="d-none d-md-block" style="padding-top: 90px"></div>
				<div class="fs-xs text-body-secondary mb-3">V00273124</div>
				<h1 class="fs-xl fw-medium">{{data.Title}}</h1>
				<div class="h4 fw-bold mb-4">${{data.Price}} <del class="fs-sm fw-normal text-body-tertiary"></del></div>
				<ul class="list-unstyled fs-sm text-body-emphasis mb-4">
				  <li>
					<span class="me-1">{{data.short_description}}</span>
				  </li>
				  <li>
					<span class="me-1"><span class="fw-semibold">Verified</span></span>
					<svg class="text-body-emphasis" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"><path fill-rule="evenodd" d="M22.287 10.967l-1.7-2c-.215-.254-.346-.568-.373-.9L20 5.46c-.029-.379-.193-.734-.462-1.002s-.625-.43-1.004-.458l-2.607-.213c-.332-.027-.646-.158-.9-.373l-2-1.7c-.288-.247-.654-.383-1.033-.383s-.746.136-1.033.383l-2 1.7c-.254.215-.568.346-.9.373L5.467 4c-.38.028-.737.191-1.006.461s-.433.626-.46 1.006l-.213 2.607c-.027.332-.158.646-.373.9l-1.7 2c-.247.288-.383.654-.383 1.033s.136.746.383 1.033l1.7 2c.215.254.346.568.373.9L4 18.547c.031.377.196.731.465.998s.624.428 1.002.456l2.607.213c.332.027.646.158.9.373l2 1.7c.288.247.654.383 1.033.383s.746-.136 1.033-.383l2-1.7c.254-.215.568-.346.9-.373L18.534 20c.38-.028.737-.191 1.006-.46s.433-.626.46-1.006l.213-2.607c.027-.332.158-.646.373-.9l1.7-2c.245-.287.38-.652.38-1.03s-.135-.743-.38-1.03zm-11.08 4.153l-2.96-2.96 1.127-1.127 1.833 1.827 3.42-3.42 1.127 1.127-4.547 4.553z"></path></svg>
				  </li>
				</ul>
  


  
				<!-- Add to cart + Wishlist buttons -->
				<div class="d-flex gap-3 pb-4 mb-2 mb-lg-3">
				  <button type="button" class="btn btn-lg btn-dark w-100 rounded-pill">Contact Owner</button>
				  <button type="button" class="btn btn-icon btn-lg btn-secondary rounded-circle animate-pulse" aria-label="Add to Wishlist">
					<i class="ci-heart fs-lg animate-target"></i>
				  </button>
				</div>
  
				<!-- Shipping info -->
				<div class="mb-4">
				  <h6 class="d-flex align-items-center fs-sm mb-2">
					<i class="ci-location fs-lg me-2"></i>
					Country : {{data.Country}}
				  </h6>
				  <div class="fs-sm">
					<span class="me-1">Category : </span>
					<div class="dropdown d-inline-block">
					  <a class="dropdown-toggle animate-underline fs-sm fw-semibold text-body-emphasis text-decoration-none" href="#!" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="animate-target">{{data.Category}}</span>
					  </a>

					</div>
				  </div>
				</div>
  
				<!-- Contact -->
				<div class="d-flex align-items-center justify-content-between bg-body-tertiary rounded p-3">
				  <div class="me-3">
					<h6 class="fs-sm mb-1">Have a question?</h6>
					<p class="fs-sm mb-0">Contact us if you have questions</p>
				  </div>
				  <a class="btn btn-sm btn-outline-dark rounded-pill" href="contact-v2.html">Contact us</a>
				</div>
			  </div>
			</div>
		  </section>
  
  

  
  
		  <!-- Product description -->
		  <section class="row pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5">
			<div class="col-md-7 col-xl-8 mb-xxl-3">
				<p>{{data.Description}}</p>
				<ul class="list-unstyled pb-md-2 pb-lg-3">
				<li class="mt-1"><span class="h6 mb-0">Country : </span> {{data.Country}}</li>
				<li class="mt-1"><span class="h6 mb-0">Active Users / Downloads:</span> {{data.Users}}</li>
				<li class="mt-1"><span class="h6 mb-0">Year : </span> {{data.Founded}}</li>
				<li class="mt-1"><span class="h6 mb-0">Profit : </span> {{data.Profit}}</li>

			  </ul>
  
			  <div class="accordion accordion-alt-icon" id="productAccordion">
				<div class="accordion-item">
				  <h3 class="accordion-header" id="headingProductInfo">
					<button type="button" class="accordion-button animate-underline fs-xl collapsed" data-bs-toggle="collapse" data-bs-target="#productInfo" aria-expanded="false" aria-controls="productInfo">
					  <span class="animate-target me-2">Startup info</span>
					</button>
				  </h3>
				  <div class="accordion-collapse collapse" id="productInfo" aria-labelledby="headingProductInfo" data-bs-parent="#productAccordion">
					<div class="accordion-body fs-base">Info</div>
				  </div>
				</div>
				<div class="accordion-item">
				  <h3 class="accordion-header" id="headingProductFeatures">
					<button type="button" class="accordion-button animate-underline fs-xl collapsed" data-bs-toggle="collapse" data-bs-target="#productFeatures" aria-expanded="false" aria-controls="productFeatures">
					  <span class="animate-target me-2">Additional</span>
					</button>
				  </h3>
				  <div class="accordion-collapse collapse" id="productFeatures" aria-labelledby="headingProductFeatures" data-bs-parent="#productAccordion">
					<div class="accordion-body fs-base">
					  <ul class="m-0">
						<!-- <li><span class="text-body-emphasis fw-semibold">Timeless design:</span> Inspired by Scandinavian aesthetics, this chair boasts a sleek and retro-inspired silhouette that adds a touch of elegance to any space.</li>
						<li><span class="text-body-emphasis fw-semibold">Durable construction:</span> Crafted with high-quality materials, the chair is built to last, providing sturdy and reliable seating for years to come.</li>
						<li><span class="text-body-emphasis fw-semibold">Versatile placement:</span> Whether as a focal point in your living room, a cozy reading corner in your study, or an inviting seat around the dining table, this chair effortlessly adapts to different settings.</li>
						<li><span class="text-body-emphasis fw-semibold">Comfortable seating:</span> The chair features a well-padded seat and backrest, ensuring optimal comfort for extended periods of relaxation or conversation.</li> -->
						<li><span class="text-body-emphasis fw-semibold">maintenance:</span> Maintained by AWS.</li>
					  </ul>
					</div>
				  </div>
				</div>
				<!-- <div class="accordion-item">
				  <h3 class="accordion-header" id="headingProductWarranty">
					<button type="button" class="accordion-button animate-underline fs-xl collapsed" data-bs-toggle="collapse" data-bs-target="#productWarranty" aria-expanded="false" aria-controls="productWarranty">
					  <span class="animate-target me-2">Warranty information</span>
					</button>
				  </h3>
				  <div class="accordion-collapse collapse" id="productWarranty" aria-labelledby="headingProductWarranty" data-bs-parent="#productAccordion">
					<div class="accordion-body fs-base">We stand behind the quality of our products. Our chair comes with a 10-year warranty, guaranteeing against defects in materials and workmanship under normal use. In the unlikely event that you encounter any issues with your chair, contact our customer service team, and we will be happy to assist you with a replacement or repair.</div>
				  </div>
				</div>
				<div class="accordion-item">
				  <h3 class="accordion-header" id="headingProductDelivery">
					<button type="button" class="accordion-button animate-underline fs-xl collapsed" data-bs-toggle="collapse" data-bs-target="#productDelivery" aria-expanded="false" aria-controls="productDelivery">
					  <span class="animate-target me-2">Delivery and shipping</span>
					</button>
				  </h3>
				  <div class="accordion-collapse collapse" id="productDelivery" aria-labelledby="headingProductDelivery" data-bs-parent="#productAccordion">
					<div class="accordion-body fs-base">We understand the importance of timely delivery and strive to provide a seamless shipping experience for our customers. Upon placing your order, our team will process it promptly, and you will receive a notification once your chair is ready for shipment. We offer various shipping options to accommodate your preferences, with estimated delivery times provided at checkout. Rest assured, your chair will be carefully packaged to ensure it arrives safely at your doorstep, ready to enhance your home with its timeless charm.</div>
				  </div>
				</div> -->
			  </div>
			</div>
		  </section>
  
  




		</div>
	  </main>

{% include "includes/footer.html" %}